body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,0.6);
    /* opacity: 0; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60px;;
}
.preloader-wrapper .preloader img {
  width: 100%;
}


.loader_msg {
  color: #FFF;
  font-size: 20px;
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
}
