
h4 {
	font-size: 20px;
	margin: 0px;
	
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  h4 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  h4 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 15px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  h5 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  h5 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  h5 {
    font-size: 15px;
    padding: 3px 0px 8px 0px;
  }
}

.top_nav {
	float: right;
}

.top_nav_button {
	min-width: 50px;
	text-align: right;
	height: 20px;
	
}

.main_container {
	
	text-align: center;
}


.header_row {
	margin: 0px auto;
	
}

.header_row_2 {
	
	margin-right: 15px;
	
}

.header_content {
	padding: 0px 0px 0px 15px;
	width: 100%;
	text-align: left;
	margin: 0px auto;
}

@media only screen and (max-width: 1200px) {
  .header_content {
    padding: 0px 15px 0px 30px;
	width: 100%;
	text-align: left;
	margin: 0px auto;
  }
}

@media only screen and (max-width: 1200px) {
  .header_content_2 {
    
	width: 100%;
	text-align: left;
	margin: 0px auto;
  }
}

.main_header {
	text-align: left;
    border-bottom: 1px solid #867c71;
    margin-right: 30px;
}

@media only screen and (max-width: 1200px) {
  .main_header {
    text-align: left;
    border-bottom: 1px solid #867c71;
    margin-right: 15px;
  }
}

.main_header h1 {
	display: inline-block;
	margin-top: 0px;
	padding-right: 20px;
}



.sub_header {
	text-align: left;
	border-top: 1px solid #867c71;
	
	margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .sub_header {
    text-align: left;
	border-top: 1px solid #867c71;
	margin-right: 0px;
	margin-top: 10px;
  }
}

.sub_header_2 {
    text-align: left;
	
	margin-right: 15px;
	
    
}

.sub_header_content {
	display: inline-block;
	padding: 15px 10px 0px 15px;
}

@media only screen and (max-width: 1200px) {
  .sub_header_content {
   	display: inline-block;
	padding: 15px 10px 0px 30px;
  }
}

.sub_header_content_2 {
	display: inline-block;
	padding: 15px 10px 0px 0px;
}

@media only screen and (max-width: 1200px) {
  .sub_header_content_2 {
   	display: inline-block;
	padding: 15px 10px 0px 0px;
  }
}



.sub_header_icon {
	display: inline-block;
	vertical-align: middle;
}


/* =================== SIGN OUT POPUP ====================*/

hr {
    margin: 10px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #867c71;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #867c71;
}

.popup .popuptext a {
    color: #fff;

}

.popup .popuptext a:hover {
    color: #635c59;
    
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* ==================== SIGN OUT POPUP END =====================*/


.search_filter ul li a {
	color: #fff;
}


.content_container_left {
	display: inline-block;
	background-color: #fff;
	width: 100%;
	max-width: 1170px;
	margin: 0px auto;
	float: none;
	padding-right: 0px;
	padding-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .content_container_left {
   
    padding-bottom: 10px;
    padding-left: 0px;
  }
}


.content_container_right {
	display: inline-block;
	background-color: #fff;
	max-width: 1170px;
	margin: 0px auto;
	float: none;
	padding-left: 0px;
}

.content_row_search {
	margin-left: -15px;
    padding-bottom: 30px;
    margin-right: 15px;
}

@media only screen and (max-width: 1200px) {
  .content_row_search {
    margin-right: 15px;
    padding-bottom: 10px;
    margin-left: 15px;
  }
}

.content_row_search_inner {
	margin-right: -15px;
	margin-left: 0px;
}

@media only screen and (max-width: 1200px) {
  .content_row_search_inner {
    margin-right: 0px;
    padding-bottom: 10px;
  }
}



.content_wrapper {
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
}

@media only screen and (max-width: 1200px) {
  .content_wrapper {
    padding-left: 15px;
	text-align: left;
  }
}

.content_header_wrapper {
	text-align: left;
	
}

.content_images_search {
	width: 100%;
	height: 100%;
	color: #fff;
	padding: 15px;
}

@media only screen and (max-width: 700px) {
  .content_images_search {
    width: 50%;
	height: 100%;
	color: #fff;
	padding: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .content_images_search {
    width: 100%;
	height: 100%;
	color: #fff;
	padding: 15px;
  }
}



.left_col_content {
	background-color: #867c71;
	width: 100%;
	padding-right: 0px;
	margin-top: 15px;
}



.ref_detail {
  width: 100%;
  display: inline-block;
	font-size: 12px;
	
}

.ref_detail_text {
  display: inline-block;
}

.detail_icons {
  display: inline-block;
  float: right;
  padding-right: 5px;
}



.image_basket {
	display: block;
  width: 100%;
  height: auto;
}

.image_wrapper {
	width: 100%;
	height: 200px;
}


.image_detail_search {
	color: #867c71;
	background-color: #dcd5cd;
    padding: 15px 8px 8px 15px;
    white-space: nowrap; 
	font-size: 30px;
	overflow: hidden;
	
}


.image_detail_icons {
	width: 25px;
	padding: 5px 0px 10px 0px;
}

.overlay {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: #dcd5cd;
  overflow: hidden;
  width: 100%;
  height:100%;
}

.col_row {
	width: 100%;
	margin-right: -15px;
   margin-left: 0px;
}

@media only screen and (max-width: 1200px) {
  .col_row {
	margin: 0px auto;
}
    
  }


.left_col {
	display: inline-block;
	float: right;
	margin-top: 36px;
	
}

@media only screen and (max-width: 1200px) {
  .left_col {
	
    
  }
}

.left_col_detail {
	color: #fff;
	background-color: #867c71;
	font-size: 15px;
	padding: 10px 20px 30px 5px;
	margin-right: 15px;
	margin-top: 15px;
	text-align: left;
}

@media only screen and (max-width: 1200px) {
  .left_col_detail {
	padding: 0px 15px 30px 0px;
	margin-right: 0px;
  }
}

.left_col_detail h4 {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	
}

.left_col_detail h5 {
	padding-top: 10px;
	font-size: 16px;
}


.left_col_detail_list {
  padding-bottom: 15px;
}

.left_col_detail_list ul {
	
	font-size: 15px;
	color: #fff;
	text-align: left;
	float: none;
	list-style-type: circle;
  padding-top: 15px;

}

.left_col_detail_list ul li {
	display: block;
	color: #fff;
	text-align: left;
	padding: 0px;
	line-height: 30px;
}




.left_col_detail_list ul li a {
	color: #fff;
}

.left_col_detail_list_2 {
  padding-top: 10px;

}


.left_col_detail_header {
	display: inline-block;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.left_col_detail .navbar-toggle {
	margin-top: 0px;
	margin-right: 0px;
	border: 2px solid #867c71;
	float: right;
}

.left_col_detail .navbar-toggle:hover {
	border: 2px solid #fff;
	background-color: #867c71;
}

.left_col_detail .navbar-toggle:focus {
	background-color: #867c71;
}

@media only screen and (min-width: 1170px) {
  .left_col_detail .navbar-toggle {
  	display: none;
  	
  }
}




.left_col_list a {
	font-size: 12px;
	color: #fff;
}

.left_col_ref_detail {
	color: #fff;
	font-size: 16px;
	padding-top: 20px;
	line-height: 25px;
}

.left_col_icons_1 {
	text-align: right;
	padding-right: 10px;

}

.left_col_icons_2 {
	width: 25px;
	padding: 5px 0px 10px 0px;
}





.left_col_acc {
	font-size: 15px;
	padding-bottom: 5px;
}

.left_col_acc_last {
	font-size: 15px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

.left_col_button {
	display: block;
	color: #fff;
	padding: 3px;

}

.left_col_button.active, .left_col_button:focus, .left_col_button:hover {
	color: #ccc;
	text-decoration: none;
	
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #867c71;
    color: #fff;
    cursor: pointer;
    padding: 10px 0px 10px 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #fff;

}

button.accordion_2 {
    background-color: #867c71;
    color: #fff;
    cursor: pointer;
    padding: 8px 0px 8px 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    

}



button.accordion.active {
    color: #fff;
    border-bottom: 0px;
}

button.accordion:hover {
	color: #fff;
}


button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding-right: 10px;


}

button.accordion_2:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding-right: 10px;
}

button.accordion.active:after {
    content: "\2212";
}

button.accordion_2.active:after {
    content: "\2212";
}

.main_panel {
	font-size: 14px;
    padding: 0px 0px 10px 18px;
    background-color: #867c71;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}

.panel_no_border {
	font-size: 14px;
    padding: 0px 0px 10px 18px;
    background-color: #867c71;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-radius: 0px;
}


div.panel {
	font-size: 14px;
    padding: 0px 0px 10px 18px;
    background-color: #867c71;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;

}

.menu_detail_icons {
  	display: inline-block;
    float: right;
    padding-right: 35px;
    padding-bottom: 10px;
}