
@font-face {
  font-family:'BaskervilleOO-webfont.woff';
  src: url('../fonts/BaskervilleOO-webfont.woff') format('woff');

}

@font-face {
  font-family:'BaskervilleItalicOO-webfont';
  src: url('../fonts/BaskervilleItalicOO-webfont.woff') format('woff');

}

@font-face {
  font-family:'AlrightSans-Regular-webfont';
  src: url('../fonts/AlrightSans-Regular-webfont.woff') format('woff'),
       /*url('GLYPHICONSHalflings-Regular.ttf') format('truetype'),
       url('GLYPHICONSHalflings-Regular.svg#GLYPHICONSHalflings-Regular') format('svg');*/

}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');


h1 {
  font-family:'BaskervilleOO-webfont.woff';
  font-size: 20px;
}

h2 {
  font-family:'BaskervilleOO-webfont.woff';
  font-size: 20px;
}

h3 {
  font-family:'BaskervilleOO-webfont.woff';
  font-size: 18px;
}

h4 {
  font-family:'BaskervilleOO-webfont.woff';
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'AlrightSans-Regular-webfont';
    background-color: #dbd5cd;
    color: #867F7C;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.2px;
}

p {
    padding: 10px 150px 0px 150px;
    line-height: 25px;
}

ul {
    display: block;
    text-align: left;
    margin: 0px;
    padding: 15px 0px 10px 0px;
    list-style-type: none;

}

input[type="checkbox"] {
  float: right;
}

@media only screen and (min-width: 1170px) {
  ul {
    display: inline-block;
    text-align: right;
    float: right;
    padding-right: 20px;

  }
}

ul li {
    display: block;
    padding: 10px;

}

@media only screen and (min-width: 1170px) {
  ul li {
    display: inline-block;
    text-align: right;

  }
}

a {
    color: #867f7c;
    text-decoration: none;
}

a:hover {
    color: #645c59;
    text-decoration: none;
}
a.link {
    color: #fff;
    text-decoration: none;
}
a.link:hover {
    color: #fff;
    text-decoration: underline;

}
ul a:link {
    color: #867f7c;
    text-decoration: none;
    text-transform: uppercase;
}
.header_search a:link {
  text-transform: uppercase;
}

ul a:hover {
    color: #ccc;
    text-decoration: none;

}
ul a:focus {
  color: #ccc;

}


/*bsandip*/


.top_nav {
    float: right;
}

.top_nav_button {
    min-width: 50px;
    text-align: right;
    height: 20px;

}

.main_container_basket {

    text-align: center;
}


.header_row {
    margin: 0px auto;

}

.header_row_2 {

    margin-right: 15px;

}

.header_content {
    padding: 0px 0px 0px 15px;
    width: 100%;
    text-align: left;
    margin: 0px auto;
}

@media only screen and (max-width: 1200px) {
  .header_content {
    padding: 0px 15px 0px 30px;
    width: 100%;
    text-align: left;
    margin: 0px auto;
  }
}


@media only screen and (max-width: 1200px) {
  .header_content_2 {

    width: 100%;
    text-align: left;
    margin: 0px auto;
  }
}

.main_header {
    text-align: left;
    border-bottom: 1px solid #867f7c;
    margin-right: 30px;
}

@media only screen and (max-width: 1200px) {
  .main_header {
    text-align: left;
    border-bottom: 1px solid #867f7c;
    margin-right: 15px;
  }
}

.main_header h1 {
    display: inline-block;
    margin-top: 0px;
    padding-right: 20px;
}



.sub_header {
    text-align: left;
    border-top: 1px solid #867f7c;

    margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .sub_header {
    text-align: left;
    border-top: 1px solid #867f7c;
    margin-right: 0px;
    margin-top: 10px;
  }
}

.sub_header_2 {
    text-align: left;

    margin-right: 15px;


}

.sub_header_content {
    display: inline-block;
    padding: 15px 10px 0px 15px;
}

@media only screen and (max-width: 1200px) {
  .sub_header_content {
    display: inline-block;
    padding: 15px 10px 0px 30px;
  }
}

.sub_header_content_2 {
    display: inline-block;
    padding: 15px 10px 0px 0px;
}

@media only screen and (max-width: 1200px) {
  .sub_header_content_2 {
    display: inline-block;
    padding: 15px 10px 0px 0px;
  }
}

.sub_header_icon {
    display: inline-block;
    vertical-align: middle;
}

.search_filter ul li a {
    color: #fff;
}


.content_container_left {
    display: inline-block;
    background-color: #fff;
    width: 100%;

    margin: 0px auto;
    float: none;
    padding-right: 0px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .content_container_left {

    padding-bottom: 10px;
    padding-left: 0px;
  }
}


.content_container_right {
    display: inline-block;
    background-color: #fff;

    margin: 0px auto;
    float: none;
    padding-left: 0px;
}

.content_row_search {
    margin-left: -15px;
    padding-bottom: 30px;
    margin-right: 15px;
}

@media only screen and (max-width: 1200px) {
  .content_row_search {
    margin-right: 15px;
    padding-bottom: 10px;
    margin-left: 15px;
  }
}

.content_row_search_inner {
    margin-right: -15px;
    margin-left: 0px;
}

@media only screen and (max-width: 1200px) {
  .content_row_search_inner {
    margin-right: 0px;
    padding-bottom: 10px;
  }
}



.content_wrapper {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

@media only screen and (max-width: 1200px) {
  .content_wrapper {
    padding-left: 15px;
    text-align: left;
  }
}

.content_header_wrapper {
    text-align: left;

}

.content_images_search {
    width: 33.333333333%;
    height: 100%;
    color: #fff;
    padding: 15px;
}

.content_images_search img{
    height: 350px;
    object-fit: cover;
}

.marketing_thumb{
    height: 345px;
}

.detail_icons img {
    height: 40px;
}

.content_images_search_img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

@media only screen and (max-width: 700px) {
  .content_images_search {
    width: 50%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .content_images_search {
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}



.left_col_content {
    background-color: #867f7c;
    width: 100%;
    padding-right: 0px;
    margin-top: 15px;
}



.ref_detail {
  width: 100%;
  display: inline-block;
  font-size: 12px;

}


.ref_detail_text {
  display: inline-block;
}

.detail_icons {
  display: inline-block;
  float: right;
  padding-right: 5px;
}

.detail_icons img { height: 40px; }



.image_basket {
    display: block;
  width: 100%;
  height: auto;
}

.image_wrapper {
    width: 100%;
    height: 200px;
}


.image_detail_search {
  color: #867f7c;
  background-color: #dbd5cd;
    padding: 15px 8px 8px 15px;
    white-space: nowrap;
  font-size: 20px;
  overflow: hidden;

}


.image_detail_icons {
    width: 25px;
    padding: 5px 0px 10px 0px;
}

.overlay {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: #dbd5cd;
  overflow: hidden;
  width: 100%;
  height:100%;
}

.col_row {
    width: 100%;
    margin-right: -15px;
   margin-left: 0px;
}

@media only screen and (max-width: 1200px) {
  .col_row {
    margin: 0px auto;
}

  }


.left_col {
    display: inline-block;
    float: right;
    margin-top: 50px;

}
.left_col_assats {
    display: inline-block;
    float: right;
    margin-top: 0px;
}

@media only screen and (max-width: 1200px) {

  .left_col_assats {
    display: inline-block;
    float: right;
    margin-top: 0px;
}
}

.left_col_detail {
  color: #fff;
  background-color: #867f7c;
  font-size: 15px;
  padding: 10px 10px 0px 5px;
  margin-right: 15px;
  margin-top:0px;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .left_col_detail {
    padding: 10px 2px 30px 0px;
    margin-right: 0px;
  }
}

.left_col_detail h4 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;

}

.left_col_detail h5 {
  padding-top: 10px;
  font-size: 16px;
}

.left_col_detail_list {
  /*padding-bottom: 15px;*/
}

.left_col_detail_list ul {

  font-size: 15px;
  color: #fff;
  text-align: left;
  float: none;
  list-style-type: circle;
  padding-top: 15px;
  padding-right: 3px;

}

.left_col_detail_list ul li {
  display: block;
  color: #fff;
  text-align: left;
  padding: 0px;
  line-height: 30px;
}


.left_col_detail_list ul li a {
  color: #fff;
}

.left_col_detail_list_2 {
  padding-top: 10px;
  border-top: solid 1px #fff;
  padding-bottom: 20px;

}

.left_col_detail_header {
  display: inline-block;
  width: 100%;

}

.left_col_detail .navbar-toggle {
  margin-top: 0px;
  margin-right: 0px;
  border: 2px solid #867f7c;
  float: right;
}

.left_col_detail .navbar-toggle:hover {
  border: 2px solid #fff;
  background-color: #867f7c;
}

.left_col_detail .navbar-toggle:focus {
  background-color: #867f7c;
}

@media only screen and (min-width: 1170px) {
  .left_col_detail .navbar-toggle {
    display: none;

  }
}

.menu_detail_icons {
    display: inline-flex;
    float: right;

    padding-bottom: 10px;
    margin-right: 35px;
}




/*bsandip*/
.top_container {
    font-size: 12px;
    background-color: #fff;
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
    text-align: right;
    padding: 5px 10px;
    border-bottom: solid 1px black;
}

@media only screen and (max-width: 1000px) {
  .top_container {
    text-align: center;
  }
}

.user {
    padding-right: 10px;
}

.header_container {
    width: 100%;

    margin: 0px auto;
    font-size: 16px;
    background-color: #fff;

}



.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid > .navbar-header {

    margin-right: 0px;
    margin-left: 0px;
}

@media only screen and (max-width: 1170px) {
  .container-fluid > .navbar-header {
    margin-right: 20px;
    margin-left: 20px;

  }
}


.navbar-inverse {
    background-image: none;
    background-color: #fff;
    border: none;
    margin: 0px;
}

.navbar-inverse .navbar-toggle {
    margin-top: 12px;

    border: 2px solid #fff;
}

@media only screen and (min-width: 1170px) {
  .navbar-inverse .navbar-toggle {
    display: none;

  }
}



.navbar-inverse .navbar-toggle:hover {
    border: 2px solid #867f7c;
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #867f7c;
}



.nav {
    display: inline-block;
    width: 100%;
    text-align: left;


}
.nav_logo {
    width: 100%;
    max-width: 300px;
    /*padding: 15px 0px 12px 25px;*/
    float: left;
}
.nav .cbtn {
    display: block;
    width: 100%;
    background-color: #645c59;
    color: white;
    padding: 8px 40px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.cbtn {
    display: block;
    width: 100%;
    background-color: #645c59;
    color: white;
    padding: 8px 40px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
@media only screen and (max-width: 1170px) {
  .nav_logo {
    width: 129px;
    padding: 10px 0px 12px 5px;
    float: left;
  }

.nav .cbtn {
    display: block;
    width: 100%;
    background-color: #645c59;
    color: white;
    padding: 8px 40px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
}

.nav_wrapper {
    padding: 0px;
    text-align: center;
}

.nav_button {
    width: 130px;
    float: right;
    padding: 0px;
}



.search_header {
    text-align: right;
    padding: 0px 30px 20px 20px;
}


.search_header .dropdown-toggle .caret {
  position: absolute;
    background-image: url(../img/selecterow.png);
    top: 6px;

    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0px;
    display: inline-block;
    margin-left: 90px;
}

@media (max-width: 768px) {
  .search_header .dropdown-toggle .caret {
    /*margin-top: 40px;*/
    margin-left: 40px;
  }
  .cust img { height: 250px!important; }
  .cust button img { height: 26px!important;}
  .loader_msg { left:0%;top:48%;text-align: center; }
}


@media (min-width: 768px) {
  .search_header form {
    display: inline-flex;
  }
}

@media (max-width: 767px) {
  .search_header form {
    display: block;

  }
}

@media (max-width: 767px) {
  .search_input {
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  .search_input {
    padding-left: 10px;
  }
}

input[type=text]:focus {
    outline: none;
}


.slider_header_row {
    margin-left: 0px;
    margin-right: 0px;
}

.slider_container {
    width: 100%;

    margin: 0px auto;
}

.slider_content_row {
    margin-left: 0px;
    margin-right: 0px;
}

.slider_content {
    width: 100%;
    padding: 0px;
}

.slider_content img {
  height: 60vh;
  object-fit: cover;
}

.slider {
  width: 110%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 1700px) {
  .slider {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1699px) {
  .slider {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .slider {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 800px) and (max-width: 999px) {
  .slider {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
  .slider {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 400px) and (max-width: 599px) {
  .slider {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 200px) and (max-width: 399px) {
  .slider {
    width: 100%;
    height: 126px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

}
.slider_image {
  position: absolute;
  width: 100%;

  animation: mo 15s infinite;
  -webkit-animation: mo 15s infinite;
  opacity: 0;
}

@keyframes mo{
  10%{opacity: 1}
  50%{opacity: 0}
}

@-webkit-keyframes mo{
  10%{opacity: 1}
  50%{opacity: 0}
}

img:nth-child(0){animation-delay: 0s;-webkit-animation-delay: 0s;}
img:nth-child(1){animation-delay: 5s;-webkit-animation-delay: 5s;}
img:nth-child(2){animation-delay: 10s;-webkit-animation-delay: 10s;}



.content_container {
    background-color: #fff;
    width: 100%;

    margin: 0px auto;
}

.content_header_1 {
    text-align: center;
    padding-top: 10px;
}

.content_header_1 h3 {
    /* padding-top: 25px; */
    /*padding-bottom: 5px;*/
}


.content_header_image {
  padding: 30px 0px 10px 0px;
}

.content_1 {
    padding: 0px;
}

.content_images {
    width: 33.333333333%;
    height: 100%;
    color: #fff;
    padding: 15px;
}
@media only screen and (max-width: 1200px) {
  .content_images {
    width: 50%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .content_images {
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}

.inner_image {
    width: 100%;
    padding: 0px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

}
.video {
    width: 100%;
    float: left;
    height: 100%;
    min-height:180px;
    background: #000;
}
.videoassets {
  width: 100%;
    float: left;
    height: auto;

    background: #000;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;

}

.inner_image .overlay {
  opacity: 0.5;
}

.content_row {
    margin: 0px auto;
    padding-bottom: 8px;
    background-color: #fff;
}


.text {
    display: none;
    width: 200px;
}

.text_header {
    /*padding-bottom: 10px;*/
}


.inner_image .text {
    display: block;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1500px) {
  .text {
    font-family: 'BaskervilleOO-webfont.woff';
    width: 100%;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  .text div {
    font-size: 22px;
  }

}

@media only screen and (max-width: 1500px) {
  .content_images_search img {
    height: 250px;
    object-fit: cover;
  }

  .marketing_thumb{
    height: 245px;
  }

  .detail_icons img {
      height: 40px;
  }

}





@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .text {
    font-family: 'BaskervilleOO-webfont.woff';
    width: 100%;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  .text div {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .text {
    font-family: 'BaskervilleOO-webfont.woff';
    width: 100%;
    color: #fff;
    font-size: 14px;
    padding: 15px;
    text-align: center;
    font-size: 22px!important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .text {
    font-family: 'BaskervilleOO-webfont.woff';
    width: 100%;
    color: #fff;
    font-size: 12px;
    padding: 15px;
    text-align: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .text div {
    /*font-size: 22px;*/
  }
}


/*@media only screen and (min-width: 320px) and (max-width: 768px) {
  .text {
    font-family: 'BaskervilleOO-webfont.woff';
    width: 100%;
    color: #fff;
    font-size: 12px;
    padding: 15px;
    text-align: center;
  }
  .text div {
    font-size: 20px;
  }
}*/

/*home_loging.css*/







.banner_header_row {
    margin-left: 0px;
    margin-right: 0px;
}

.banner_container {
    width: 100%;

    margin: 0px auto;
}

.banner_content_row {
    margin-left: 0px;
    margin-right: 0px;
}

.banner_content {
    width: 100%;
    padding: 0px;
    background-image: url('../img/main.png');
    height: 700px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.banner {
  width: 110%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 1700px) {
  .banner {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1699px) {
  .banner {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .banner {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 800px) and (max-width: 999px) {
  .banner {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
  .banner {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 400px) and (max-width: 599px) {
  .banner {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 200px) and (max-width: 399px) {
  .banner {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
.banner_image {
  position: absolute;
  width: 100%;


}


/* ============= LOGIN FORM ============= */


.cover_content, cover_content form {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    height: 100%;
    max-height: 350px;
}

.cover_header {

}


.cover_content {
    background-color: #867f7c;
    color: #fff;
    margin-top: 150px;
}


.cover_content form {

    background-color: #867f7c;
    color: #fff;
}

.cover_content input[type=text], .cover_content input[type=password] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.container_2 button {
    background-color: #645c59;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    text-align: center;
}

.container_2 button:hover {
    opacity: 0.8;
}


.container_3 a {
    background-color: #645c59;
    color: white;
    padding: 10px 30px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    text-align: center;
}

.container_3 a:hover {
    opacity: 0.8;
}




.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 100px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}


span.psw {

    padding-top: 16px;
}

span.psw a {
  color: #fff;

}


.container_2 {
    text-align: center;
    padding: 0px 50px 20px 50px;
}

.container_3 {
    text-align: right;

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;

    }
    .cancelbtn {
       width: 100%;
    }
}

.form_header {
  text-align: center;
  padding: 10px;
}

.text_fields {
  display: block;
}

.forgot {
  display: block;
  font-size: 14px;
}

.login {
  display: block;
  margin: 20px;
}

.register {
  display: inline-block;
  margin: 30px;
}


/*home_loging.css*/
/*ragister.css*/

input[type=text] {
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #867f7c;
    border-radius 0px;
    font-size: 16px;
    background-color: #fff;
    background-image: url('../img/search_icon.png');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 30px;
    margin-left: 10px;

}

input[type=text]:focus {
    outline: none;
}

@media only screen and (max-width: 1170px) {
  input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #867f7c;
    border-radius 0px;
    font-size: 16px;
    background-color: #fff;
    background-image: url('../img/search_icon.png');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 30px;
    margin-left: 10px;

  }
}
.sign_in {
  display: inline-block;
  margin: 15px 30px 15px 0px;
}

.form_sign_in {
  display: block;
  margin: 20px;
}

/*ragister.css*/

/*home_sign_in*/
.content_images_2 {
    width: 25%;
    height: 100%;
    color: #fff;
    padding: 15px;
}

.content_search_desc {
  white-space: normal;
  word-wrap: break-word;
}

@media only screen and (max-width: 1200px) {
  .content_images_2 {
    width: 50%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .content_images_2 {
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}
/*home_sign_in*/
/*welcome_home.css*/
.welcome_body  {
    height: 100%;
    font-family: 'AlrightSans-Regular-webfont';
    background-color: #dbd5cd;
    color: #867f7c;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    background-image: url('../img/main.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
        width: 100%;
    float: left;
}

.enter_button {
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #645c59;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    margin: 0px auto;

}

.enter_button a {
    color: #fff;
}

.enter_button a:hover {
    color: #dbd5cd;
}

.cover_content {
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
    padding-top:15px;
}

.cover_header {

}


.cover_header_2 {
    color: #fff;
    padding-bottom: 20px;
    padding-top: 40px;

}
/*welcome_home.css*/

/* ============== FOOTER =============== */
.footer_container {
    width: 100%;
    /*max-width: 1170px;*/
    margin: 0px auto;
    padding: 0px 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_container {
    font-size: 14px;
  }
}


.footer_header_row {
    margin-left: 0px;
    margin-right: 0px;
}

.footer_content_row {
    margin-left: 0px;
    margin-right: 0px;
}


.footer_content {
    display: inline-block;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
}

.copy_image {
    width: 30px;
    display: inline-block;
    float: left;
    margin-top: -3px;
    margin-right: 5px;
}



.footer_copyright {
    display: inline-block;
    float: left;
    vertical-align: bottom;
}

.footer_privacy {
    display: inline-block;
    float: right;
}
/*3_one_and_only_brand CSS start*/
.contact_header {
    text-align: center;
}

.about_icons {
    display: inline-block;
    padding: 10px 10px 20px 10px;

}

.email_icon {
    width: 40px;
    margin: 0px 10px 0px 10px;
}

.loc_icon {
    width: 40px;
    margin: 0px 10px 0px 10px;
}

.tel_icon {
    width: 40px;
    margin: 0px 10px 0px 10px;
}

.content_images_about {
    width: 25%;
    height: 100%;
    color: #fff;
    padding: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer_container {
    font-size: 11px;
  }
  .text {
    font-family: 'BaskervilleOO-webfont.woff';
    width: 100%;
    color: #fff;
    font-size: 12px;
    padding: 15px;
    text-align: center;
  }
  .text div {
    font-size: 20px;
  }

  .copy_image {
    display: table;
    float: none;
    margin: auto;
  }

  .footer_copyright{
    float: none;
    display: table;
    margin: auto;
  }

  .footer_privacy {
    float: none;
    display: table;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
  }

}

@media only screen and (min-width: 1700px) {
  .content_images_about {
    width: 25%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1699px) {
  .content_images_about {
    width: 25%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .content_images_about {
    width: 25%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 999px) {
  .content_images_about {
    width: 25%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
  .content_images_about {
    width: 50%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 599px) {
  .content_images_about {
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 399px) {
  .content_images_about {
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px;
  }

}

/* =================== SIGN OUT POPUP ====================*/

hr {
    margin: 10px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #867f7c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    left: 50%;
    margin-left: -80px;
    top: 28px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #867f7c;
}

.popup .popuptext a {
    color: #fff;

}

.popup .popuptext a:hover {
    color: #645c59;

}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

h4 {

    margin: 0px;

}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  h4 {
    font-size: 12px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  h4 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  h4 {
    font-size: 20px;
    white-space: normal;
  }
}

h5 {
    padding: 0px 0px 8px 0px;
    margin: 0px;
}

@media only screen and (max-width: 500px) {
  h5 {
    font-size: 18px;
    padding: 3px 0px 8px 0px;
  }
}

/*Defualt css*/
 a.cbtn:hover, a.cbtn:focus {
    color: #645c59;
    text-decoration: none;
    background-color:rgba(99, 92, 89, 0.23);
}
.c_button:hover, .c_button:focus {
    color: #645c59;
    text-decoration: none;
    background-color:#fff;
}
a.c_button:hover, a.c_button:focus {
    color: #645c59;
    text-decoration: none;
    background-color:#fff;
}
/*welcome home css start */

.search_header input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #867f7c;
    font-size: 16px;
    background-color: #fff;
    background-image: url(../img/search_icon.png);
    background-position: 96% 7px;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 10px;
    margin-left: 10px;
    border-radius: 10px;
    /* -webkit-border-radius: 35px; */
    -moz-border-radius: 35px;
    text-align: left;
    background-size: 18px;

}

input[type=text]  {
    width:100%;
    box-sizing: border-box;
    border: 1px solid #867f7c;
    font-size: 16px;
    background-color: #fff;
    background-image:none;
    background-position: 96% 4px;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 0px;
    margin-left: 10px;
    border-radius: 0px;
    color: #867f7c;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    text-align: center;
    background-size: 18px;

}
.cover_content input[type=text], .cover_content input[type=password] {
    width: 100%;
    color: #867f7c;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}
.welcome_section {
	background-color: rgba(0, 0, 0, 0);
	float: left;
	width: 100%;

}
.welcome_section .cover_header img {
	width: 100%;
	max-width: 290px;
}

    .cover_content {
    width: 100%;
    max-width: 600px;
    margin: 120px auto 0;
    height: 100%;
    max-height: 100%;
}
.display-table {
display: table;
	height: 100vh;
	width: 100%;
}
.disaplay-ce-ll-center {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.select_custome select {
	  background: #867f7c;
    color: #fff;
    padding: 4px 10px !important;
    width: 20%;
    margin-top: 3px;
    border-radius: 35px;

}
.select_custome option {
	background: #fff;
	color: #867f7c;
	padding: 10px !important;
	line-height: 10px;
	text-align: center;
}
.select_custome select:focus {
    outline: none;
}
.select_custome select option:hover {
	background: #867f7c;
    color: #fff;
}
.search_header {

}
.search_header input {
	float: right;
}
.search_header .select_custome select {
	float: right;
}
.search_header .popup {
/*float: right;*/
 margin-right: 10px;
 margin-top: 5px;
}

@media (max-width: 768px) {
  .search_header .popup {
    margin-bottom: 10px;
  }

  .content_images_about:nth-child(2n+1) { clear: left; }
}

.contant_padding {
	padding-left:10%;
	padding-right:10%;
}
.banner_content_account {
    width: 100%;
    padding: 0px;
    /* background: url(../img/beach_girl.jpg) 0% 0% no-repeat; */
    height: 700px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.navbar-header {

    display:block;
}
.top-hedar-btn {
    display: inline-block;
    /*margin:15px 30px 15px 0px;*/
    margin: 30px 30px 30px 0px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.c_button {
  background-color: #645c59;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}
.c_button:hover {
    opacity: 0.8;
}
.form-bottom-btn {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-bottom: 40px;
}
.single-input-center {
        width: 100%;
    max-width: 350px;
    margin: 0px auto;
    height: auto;
    padding: 0px 15px;
}
.register {
  display: inline-block;
  margin: 30px;
}

.Update {
  margin: 12px 0px 20px;
}
.Update_btm {
    margin: 20px 0px 60px;
}
.single-input-center .box{
        text-align: center;
    padding: 0px 0px 50px 0px;
        display: inline-block;
}
.box .c_button {
    width: 100%;
    float: left;
}
.left_col_detail h4 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}
.full-ul {
    width: 100%;
}
ul.full-ul li a {
    width: 100%;
    display: inline-block;
}

.selected {
position: relative;
cursor: default;
text-transform: uppercase;
}

.non_selected {
position: relative;
text-transform: uppercase;
}
.selected .radiobtn {
    position: absolute;
    right: 0;
       top: 10px;
   /* width: 8px;
    height: 8px;*/
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 0 auto;
}
.non_selected .radiobtn {
    position: absolute;
    right: 0;
        top: 10px;
    /*width: 8px;
    height: 8px;*/
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    margin: 0 auto;
}
.full-slider {
    display: inline-block;
    width: 100%;
    float: left;
}
.full-slider img {
    width: 100%;
}
.contant_padding_small {
    padding: 0 35px;
}
.contant_padding_small p {
    padding: 0px 0px 0px 0px;
    line-height: 25px;
}
.c_list-unstyled {
    text-align: left;
    width: 100%;
    display: inline-block;
}
ul.c_list-unstyled li {
        padding: 2px 0px;
    text-align: left;
    width: 100%;
    display: inline-block;
}
.terms_footer {
        text-align: center;
    display: inline-block;
    width: 100%;
    padding: 20px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.about_icons {
    display: inline-block;
    padding: 0px;
    width: 100%;
    max-width: 315px;
    position: relative;
        height:auto;


}



.close-btn {
    position: absolute;
    border-radius: 0px;
     border: 0px;
    background: none;
    top:-12px;
    right: -20px;
}

.main_header_title {
    text-align: left;
    padding: 0px 30px 0px 15px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 1170px) {
  .main_header_title {
    text-align: left;
    padding: 0px 30px 0px 30px;
    margin-bottom: 0px;
}
}


.main_header_title h3 {
        margin-top: 0px;
}
.main_header_title h3 span {
       margin-right: 15px;margin-left: 15px;
}
.main_header_title h4 {
        margin-top: 0px;
}
.main_header_title .divider {
    height: 1px;
    width: 100%;
    background-color: #867f7c;
    display: inline-block;
        margin-top: 10px;
    margin-bottom: 5px;
}
/*welcome home css end*/
/*nav bar collaps csss \frome style orignal.css*/
.navbar-collapse {
    padding-left: 0px;
    padding-right: 15px;
    margin-right: 0px;
    margin-left: 0px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #867f7c;
}

.container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;

}

@media only screen and (max-width: 1170px) {
  .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 1px solid #867f7c;
    margin-bottom: 20px;


  }
}
/* Style the buttons that are used to open and close the accordion panel */
.edit-s button.accordion {
    background-color: #867f7c;
    color: #fff;
    cursor: pointer;
    padding: 10px 0px 10px 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #fff;
    border-radius: 0px;

}

.edit-s button.accordion_2 {
    background-color: #867f7c;
    color: #fff;
    cursor: pointer;
    padding: 8px 0px 8px 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;


}
.edit-s button.accordion.active {
    color: #fff;
    border-bottom: 0px;
}

.edit-s button.accordion:hover {
    color: #fff;
}


.edit-s button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding-right: 10px;


}

.edit-s button.accordion_2:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding-right: 10px;
}

.edit-s button.accordion.active:after {
    content: "\2212";
}

.edit-s button.accordion_2.active:after {
    content: "\2212";
}

.main_panel {
    font-size: 14px;
    padding: 0px 0px 10px 2px;
    background-color: #867f7c;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}

.edit-s .main_panel:last-child, .left_col_acc button.accordion:last-child {
  border-bottom: 0px solid #fff;
}
.edit-s .panel_no_border {
    font-size: 14px;
    padding: 0px 0px 10px 18px;
    background-color: #867f7c;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-radius: 0px;
}
.edit-s .accordion_2 {
    position: relative;
}
.edit-s .accordion_2:before {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    border: 1px solid #fff;
    content: '';
    left: 3px;
    top: 14px;

}
.edit-s .accordion_2.active:before {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    border: 1px solid #fff;
    content: '';
    left: 3px;
    top: 14px;
    background-color: #fff;

}

.edit-s div.panel {
    font-size: 16px;
    padding: 0px 0px 10px 15px;
    background-color: #867f7c;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;

}
.edit-s div.panel a {
    /* padding: 4px 0px 4px 18px; */
    position: relative;
}
.edit-s div.panel a:before {
    /* position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    border: 1px solid #fff;
    content: '';
    left: 3px;
    top: 10px; */
}
.edit-s div.panel a:hover:before {
    background-color: #fff;
}
.edit-s div.main_panel a.left_col_button {
    padding: 4px 0px 4px 18px;
    position: relative;
}
.edit-s div.main_panel a.left_col_button:before {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    border: 1px solid #fff;
    content: '';
    left: 3px;
    top: 10px;
}
.edit-s div.main_panel a.left_col_button:hover:before {
    background-color: #fff;
}
/*image search start*/

.search_filter ul li a {
  color: #fff;
}


.content_container_filter {
  display: inline-block;
  background-color: #fff;
  width: 100%;

  margin: 0px auto;
  float: none;
  padding-right: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .content_container_filter {
    padding-left: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
  }
}


.content_container_right {
  display: inline-block;
  background-color: #fff;

  margin: 15px auto 0;
  float: none;
  padding-left: 0px;
}

.content_row_filters {
  margin-left: 0px;
  margin-top: 15px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  .content_row_filters {
    margin-right: 15px;
    padding-bottom: 10px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .content_row_search_inner {
    margin-right: 10px;
    padding-bottom: 10px;
  }
}



.content_wrapper {
  padding-left: 0px;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .content_wrapper {
    padding-left: 15px;
  text-align: left;
  padding-right: 0px;
  }
}

.content_header_wrapper {
  text-align: left;

}

.content_images_search {
  width: 33.333333333%;
  height: 100%;
  color: #fff;
  padding: 15px;
}
.content_images_assats {
    /* width: 30%; */
    width: 100%;
    height: 100%;
    color: #fff;


}
@media only screen and (max-width: 700px) {
  .content_images_search {
    width: 50%;
  height: 100%;
  color: #fff;
  padding: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .content_images_search {
    width: 100%;
  height: 100%;
  color: #fff;
  padding: 15px;
  }
}


.left_col_content_filter {
  background-color: #867f7c;
  width: 100%;
  padding-right: 0px;
  margin-top: 0px;
}



.ref_detail {
  width: 100%;
  display: inline-block;
  font-size: 10px;

}

.ref_detail_text {
  display: block;
}

.detail_icons {
  display: block;
    float: left;
    padding-right: 5px;
    padding-top: 10px;
}

.image_basket {
  display: block;
  width: 100%;
  height: auto;
}

.image_wrapper {
  width: 100%;
  height: 200px;
}


.image_detail_search {
  color: #867f7c;
  background-color: #dbd5cd;
    /*padding: 10px 0px 2px 10px;*/
    white-space: nowrap;
  font-size: 20px;
  overflow: hidden;

}


.image_detail_icons img{
  width: 25px;
  height: 40px;
  padding: 5px 0px 10px 0px;
}

.overlay {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height:100%;
}

.col_row_filter {
  width: 100%;
  margin-right: -15px;
    margin-left: 15px;
    margin-top: -15px;
}

@media only screen and (max-width: 1200px) {
  .col_row_filter {
  margin: 0px auto;
}

  }


.left_col .left_colmn {
  display: inline-block;

}

@media only screen and (max-width: 1200px) {
  .extraPadding {
        padding: 10px 20px 0px 20px;
  }
}

.left_col_detail_filter {
  color: #fff;
  background-color: #867f7c;
  font-size: 20px;
  padding: 10px 20px 30px 20px;
  margin-right: 15px;
  margin-top: 15px;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .left_col_detail_filter {
     padding: 0px 0px 30px 20px;
    margin-right: 15px;
  }
}

.left_col_detail_filter h4 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;

}

.left_col_detail_filter h5 {
  padding-top: 10px;
  font-size: 16px;
}

.left_col_detail_filter ul {

  font-size: 12px;
  color: #fff;
  text-align: left;
  float: none;
  list-style-type: circle;

}

.left_col_detail_filter ul li {
  display: block;
  font-size: 25px;
  color: #fff;
  text-align: left;
  padding: 0px;
  line-height: 20px;
}


.left_col_detail_filter ul .left_col_list_inner {
  padding-left: 20px;
  list-style-type: circle;
}

.left_col_detail_filter ul li a {
  font-size: 12px;
  color: #fff;
}

.left_col_detail_header {
  display: inline-block;
    width: 100%;
    border-bottom: 0px solid #fff;
}

.left_col_detail_filter .navbar-toggle {
  margin-top: 0px;
  margin-right: 15px;
  border: 2px solid #867f7c;
  float: right;
}

.left_col_detail_filter .navbar-toggle:hover {
  border: 2px solid #fff;
  background-color: #867f7c;
}

.left_col_detail_filter .navbar-toggle:focus {
  background-color: #867f7c;
}

@media only screen and (min-width: 1170px) {
  .left_col_detail_filter .navbar-toggle {
    display: none;

  }
}




.left_col_list a {
  font-size: 12px;
  color: #fff;
}

.left_col_ref_detail {
  color: #fff;
  font-size: 16px;
  padding-top: 20px;
  line-height: 25px;
}

.left_col_icons_1 {
  text-align: right;
  padding-right: 10px;

}

.left_col_icons_2 {
  width: 25px;
  padding: 5px 0px 10px 0px;
}





.left_col_acc {
  font-size: 15px;
  padding-bottom: 5px;
}

.left_col_acc_last {
  font-size: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.left_col_button {
  display: block;
  color: #fff;
  padding: 3px;

}

.left_col_button.active, .left_col_button:focus, .left_col_button:hover {
  color: #ccc;
  text-decoration: none;

}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #867f7c;
    color: #fff;
    cursor: pointer;
    padding: 10px 0px 10px 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #fff;

}

button.accordion_2 {
    background-color: #867f7c;
    color: #fff;
    cursor: pointer;
    padding: 8px 0px 8px 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;


}



button.accordion.active {
    color: #fff;
    border-bottom: 0px;
}

button.accordion:hover {
  color: #fff;
}


button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding-right: 10px;


}

button.accordion_2:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding-right: 10px;
}

button.accordion.active:after {
    content: "\2212";
}

button.accordion_2.active:after {
    content: "\2212";
}

.main_panel {
  font-size: 14px;
    padding: 0px 0px 10px 18px;
    background-color: #867f7c;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}

.panel_no_border {
  font-size: 14px;
    padding: 0px 0px 10px 18px;
    background-color: #867f7c;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-radius: 0px;
}


div.panel {
  font-size: 14px;
    padding: 0px 0px 10px 18px;
    background-color: #867f7c;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;

}

/*image search end*/
/*logoview css*/

.left_col_list a {
  font-size: 12px;
  color: #fff;
}

.left_col_ref_detail {
  color: #fff;
  font-size: 16px;
  padding-top: 20px;
  line-height: 25px;
}

.left_col_icons_1 {
  text-align: right;
  padding-right: 10px;

}

.left_col_icons_2 {
  width: 25px;
  padding: 5px 0px 10px 0px;
}





.left_col_acc {
  font-size: 15px;
  padding-bottom: 5px;
}

.left_col_acc_last {
  font-size: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.left_col_button {
  display: block;
  color: #fff;
  padding: 3px;

}

.left_col_button.active, .left_col_button:focus, .left_col_button:hover {
  color: #ccc;
  text-decoration: none;

}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #867f7c;
    color: #fff;
    cursor: pointer;
    padding: 10px 0px 10px 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #fff;
	font-size: 16px;
}

button.accordion_2 {
    background-color: #867f7c;
    color: #fff;
    cursor: pointer;
    padding: 8px 0px 8px 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
	font-size: 16px;

}



button.accordion.active {
    color: #fff;
    border-bottom: 0px;
}

button.accordion:hover {
  color: #fff;
}


button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding-right: 10px;


}

button.accordion_2:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding-right: 10px;
}

button.accordion.active:after {
    content: "\2212";
}

button.accordion_2.active:after {
    content: "\2212";
}

.main_panel {
  	font-size: 16px;
    padding: 0px 0px 10px 18px;
    background-color: #867f7c;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}

.panel_no_border {
  font-size: 14px;
    padding: 0px 0px 10px 18px;
    background-color: #867f7c;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-radius: 0px;
}


div.panel {
  font-size: 14px;
    padding: 0px 0px 10px 18px;
    background-color: #867f7c;
    display: none;
    border:0px;
    box-shadow: none;
    margin: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;

}

.menu_detail_icons {
    display: inline-flex;
    float: right;
    padding-bottom: 10px;
}


/* =================== LINK ICON POPUP ====================*/

.popup_link .popuptext hr {
    margin: 0px;
}

.popup_link {
    position: relative;
    display: inline-block;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup_link .popuptext {
    visibility: hidden;
    width: 220px;
    background-color: #fff;
    color: #867f7c;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    margin-right: -55px;
    margin-left: -137px;
    margin-bottom: 50px;
}

/* Popup arrow */
.popup_link .popuptext::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 69%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.popup_link .popuptext a {
    color: #fff;

}

.popup_link .popuptext a:hover {
    color: #645c59;

}

/* Toggle this class - hide and show the popup */
.popup_link .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* ==================== LINK ICON POPUP END =====================*/



/* =================== BASKET ICON POPUP ====================*/


.popup_basket {
    position: relative;
    display: inline-block;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup_basket .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #fff;
    color: #867f7c;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    margin-top: 10px;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup_basket .popuptext::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.popup_basket .popuptext a {
    color: #fff;

}

.popup_basket .popuptext a:hover {
    color: #645c59;

}

/* Toggle this class - hide and show the popup */
.popup_basket .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* ==================== BASKET ICON POPUP END =====================*/
/*logoview css*/

.filter_box_drop {
width: 100%;
display: inline-block;
text-align: right;
}

/*contact us foooter START*/

.contact_header {
  text-align:center;
}
.contactUsFooter {
  width: 100%;
  max-width: 320px;
display: inline-block;
margin:20px auto 40px;
}

.contactUsFooter a:focus {
  color: #FFF!important;
}

.contactUsFooter .well {
    position: relative;
    margin-top: 25px;
    background-color: #645c59;
    background-image: none;
    border-radius: 0;
    height: auto;
    color: #fff;
}
.contactUsFooter .well.email:before {
  content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(45deg);
    background-color: #645c59;
        top: -8px;
    left:82px;
    z-index:1;

}
.contactUsFooter .well.loc:before {
  content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(45deg);
    background-color: #645c59;
         top: -8px;
    left: 153px;
    z-index:1;

}
.contactUsFooter .well.tel:before {
  content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(45deg);
    background-color: #645c59;
        top: -8px;
    left: 218px;
    z-index:1;

}
/*contact us foooter END*/
/*image search pages*/

.img_search {

}

.detail_icons.img_search  {
    width: 100%;
    margin: 0px 0px 0px -10px;
}
.cust .modal-body {
    position: relative;
    padding:0px;
}
.cust img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.cust button img {
  width: 26px;
  height: 26px;
}

.cust .modal-content {
  border-radius: 0;
  background-color: #dbd5cd;
}
.cust button.close{
      position: absolute;
    top: -10px;
    right: -10px;
    z-index: 99999999;
    opacity: 1;
}
.cart-detail {
      background-image: none;
    background: no-repeat;
    border: none;
    position: relative;
    outline: none;
    width: 40px;
    height: 40px;
}
.cart-detail span {
  position: absolute;top: 0; right: 0;
  background-color: #867f7c;
  color: #dbd5cd;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.cart-detail-count {position: absolute; background-color: #867f7c; color: #FFFFFF!important; width: 14px; height: 14px; border-radius: 100%; left: 72px; padding-left: 4px!important; }

.contantIn {
    padding: 15px;
    text-align: center;
}
.contantIn label {
content: '';
}
.contantIn input[type=checkbox]:not(old),
.contantIn input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

.contantIn input[type=checkbox]:not(old) + label,
.contantIn input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../img/checks.png') no-repeat 0 0;
  line-height  : 24px;
}

.contantIn input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

.contantIn input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
.inputCheck, .inputRadio {
display: inline-block;
}
.versionAvilable {
text-align: left;
}
.versionAvilableLine {
  width: 100%;
  padding-right: 25px;
  position: relative;

}
.versionAvilableLine h3 {
    width: 100%;
    margin:4px 0px;
    font-size: 18px;
    line-height: 24px;
}
.versionAvilableLine .inputRadio {
  position: absolute;right: 0;top: 4px;
  z-index: 9999;
}
.footerBtn {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 25px 0;
}
.footerBtn a {
  padding: 8px 18px;
    background-color: #867f7c;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}
.footerBtn a:hover, .footerBtn a:focus {
  background-color: #dbd5cd;
}
/*assats stylesheet*/
.detail_icon {
  float: right;
  width: 100%;
  text-align:right;
  margin-top: 0px;
  margin-bottom: 10px;
}

.detail_icon .well {
           position: relative;
    margin-top: 10px;
    background-color: #ffffff;
    background-image: none;
    border-radius: 0;
    height: auto;
    color: #867f7c;
    padding: 4px 10px;
    text-align: left;
}
.detail_icon .well:before {
  content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(45deg);
    background-color: #ffffff;
            top: -8px;
    left: auto;
    z-index: 1;
    right: 30px;

}
.close-btn {
    position: absolute;
    border-radius: 0px;
    border: 0px;
    background: none;
    top: -12px;
    right: -20px;
}
.RelatedAssets {
      float: left;
    margin-left: -15px;
    width: 100%;
    text-align: left;
    margin-bottom: 35px;
}
.RelatedAssets h3 {

}
.RelatedAssets .carousel-control.left {
        background-image: none;
    left: -30px;
    z-index: 9999;
}
.RelatedAssets .carousel-control.right {
    background-image: none;
    right: -30px;
    z-index: 9999;
}
.RelatedAssets img {
width: 100%;
}
.RelatedAssets .carousel-indicators {
display: none;
}
.RelatedAssets .carousel-control .glyphicon-chevron-left, .RelatedAssets .carousel-control .icon-prev,
.RelatedAssets .carousel-control .glyphicon-chevron-right, .RelatedAssets .carousel-control .icon-next {
    color: #000;
    font-size: 16px;
    opacity: 1;
}
.RelatedAssets .col-xs-4 {
  padding:0 6px;
}
.content_images_assats h4 {
    display: inline-block;
    width: 100%;
    color: #867f7c;
        margin: 14px 0;
}
/*new changes by designer*/
.relaetedP {
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
    line-height: 20px;
    /*margin-left: -15px;*/
}

.noborder {
  border:0px solid #fff !important;
}
.cust_pagination {

}
.cust_pagination ul {
  text-align: center;
    float: none;
    display: inline-block;
    width: 100%;
}
.cust_pagination ul li {
      padding: 0px 2px;
      display: inline-block;
}
.cust_pagination ul li a {

}
.cust_pagination ul li a.select {
  font-weight: bold;

}
.navbar a.select {
  font-weight: bold;
    text-decoration: underline;
}

.navbar .current-menu-item a {

    font-weight: bold;

    text-decoration: underline;
}
/*
END
*/

/*assate styelsheet end*/
/*responsive*/

@media only screen and (max-width: 1200px) {
  .RelatedAssets {
    float: left;
    margin-left: 0;
    width: 100%;
    text-align: left;;
    padding: 16px 16px 0;
    margin-bottom: 0;
}

.top-hedar-btn {
    display: inline-block;
    margin: 6px 36px 0px 0px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
 .search_header input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #867f7c;
    border-radius 0px;
    font-size: 16px;
    background-color: #fff;
    background-image: url('../img/search_icon.png');
        background-position: 96% 4px;
    background-repeat: no-repeat;
    padding: 3px 0px 3px 10px;
    margin-left: 10px;
    margin-bottom:8px;

  }
  .select_custome select {
    background: #867f7c;
    color: #fff;
    padding: 4px 10px !important;
    width: 100%;
    border-radius: 35px;
}
.select_custome{
	    width: 100%;
    padding-left: 50px;
    margin-top:0px;
}
.search_header {
    /* text-align: center; */
    padding: 0px 30px 5px 20px;

  }
.cover_content form, .cover_content .form {
    margin-top:20px;
}
.cover_content {
    background-color: #867f7c;
    color: #fff;
    margin-top: 20px;
        height: auto;
    max-height: 100%;
}
.banner_content_account {
    width: 100%;
    padding:15px  0px 65px;
    /* background: url(../img/beach_girl.jpg) 0% 0% no-repeat; */
    height: 423px;
}
/*download  history*/

.edit-s .left_col {
    display: inline-block;
    float: right;
    margin-top: 6px;
}
.edit-s .main_header {
    text-align: left;
    border-bottom: 1px solid #867f7c;
    margin-right: 15px;
    margin-top: 30px;
}

.content_images_search img {
	height: 200px;
	object-fit: cover;
}

.marketing_thumb {
  height: 195px;
}

.detail_icons img {
    height: 40px;
}

}

@media only screen and (max-width: 767px) {

.search_header input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #867f7c;
    border-radius 0px;
    font-size: 16px;
    background-color: #fff;
    background-image: url('../img/search_icon.png');
        background-position: 99% 4px;
    background-repeat: no-repeat;
    padding: 3px 0px 3px 10px;
    margin-left: 10px;
    margin-bottom:8px;
    margin-top: 15px;

  }

  .btn {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
  }

  .image_detail_search {
      white-space: initial;
  }

  .cover_content {
    width: 96%;
  }

}

/* ====================== ADDED CSS ======================= */


.internal_image {
  width: 254px;
  height: 200px;
}

.btn-primary {
    color: #fff;
    background-color: #867f7c;
    /* border-color: #2e6da4; */
}

.btn-primary:hover {
  background-color: #867f7c;
  border: 1px solid transparent;
}

.btn-primary:focus {
  background-color: #867f7c;
  border: 1px solid transparent;
}

.btn-primary:active {
  background-color: #867f7c;
  border: 1px solid transparent;
}

.btn {
    display: inline-block;
    padding: 4px 120px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
}

.btn:hover {
  background-color: #867f7c;
  border: 1px solid transparent;
}

.btn:focus {
  background-color: #867f7c;
  border: 1px solid transparent;
}

.btn:active {
  background-color: #867f7c;
  border: 1px solid transparent;
}

.open > .dropdown-toggle.btn-primary, .open > .dropdown-toggle.btn-primary:hover, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:active {
  background-color: #867f7c;
  border: 1px solid transparent;
}

.open > .dropdown-toggle.btn, .open > .dropdown-toggle.btn:hover, .open > .dropdown-toggle.btn:focus, .open > .dropdown-toggle.btn:active {
  background-color: #867f7c;
  border: 1px solid transparent;
}

.dropdown-toggle:active {
  background-color: #867f7c;
  border: 1px solid transparent;
}


.btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
  background-color: #867f7c;
  border: 1px solid transparent;
}


.dropdown-menu {
  padding: 15px 0;
  border-radius: 8px;
  min-width: 100%;
}

.dropdown-menu li {
  padding: 0px;
}

@media only screen and (max-width: 400px) {
  .dropdown-menu > li > a {
  white-space: pre-wrap;
  }
}


.dropdown-menu > li > a {
  color: #867f7c;
}

.dropdown-menu > li > a:hover {
  background-color: #fff;
  color: #ccc;
  background-image: none;
}

.well p {
  padding: 10px 0px 0px 0px;
}

.partner {
  text-align: center;
  padding-bottom: 15px;
}


.partner h3 {
  text-align: center;
  /*font-size: 25px;*/
}

@media only screen and (max-width: 768px) {
  .partner h3 {
  text-align: center;
  font-size: 20px;
  }
}

/*Loader CSS*/
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.content_images_3 {
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px;
}

.text .banner_text {
  font-size: 16px;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.home_welcome_title h1{
  font-size: 30px;
}

.home_welcome_about h3{
  font-size: 30px;
}


label {
    display: inline-block;
    max-width: 100%;
    margin-top: 15px;
    font-weight: normal;
    float: left;
}
label.error {
  float: right !important;
}
.download-btn {
  background: transparent;
  border: none;
}
 /*Basket Count */

.basket-count span { color: red; padding-left: 5px; }
.image_basket_count {color: red; padding-left: 5px; font-size: 16px;}
.pl-1 { padding-left: 1px; font-size: 11px;}
.mb-1 { margin-bottom: 0px;  }

#home_banner_img {
  background-image: url(http://oneandonlybrand.stage.hotcake-marketing.com/wp-content/uploads/2018/01/homehero1.jpg);
  background-size: cover;
  height: 60vh;
}

.marketing_thumb_popup { height: 400px;}
.marketing_view { height: 100vh;}

.content_images_search:nth-child(3n+1){
  clear: left;
}

.search_image img { width:100%; padding-top: 20px;}
.search_image h3 { color: #867f7c;font-weight: bold; margin: 0px 0px 5px 0px;}
.resorts_logo_image img{ object-fit: contain; margin: 0px auto;}

.home_welcome_title h1{font-size:25px;}
.home_welcome_title h3{font-size: 20px;}
.text div{font-size: 16px;letter-spacing: 1px;}
.text{font-size: 16px;letter-spacing: 1px;}
.dropdown .btn { font-size: 16px; }
.dropdown-menu > li > a { font-size: 16px; }

.terms_footer .c_button {border-radius:8px; }
.terms_footer .c_button:hover, .terms_footer .c_button:focus{background: #645c59;color: #fff;}
.search-results h1 span {text-transform: capitalize; }
.email_send{ color: #FFFFFF; }
.email_send:hover {color: #bdb5b3; }
.search_title { margin-left: 50px; }
.pt-4{ padding-top: 40px;}

h5.content_search_desc {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5em;
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  font-size:14px;
}

.single_image_page .content_images_assats .image {
  height: 100%;
  object-fit: cover;
}

.back-btn {
  padding-left: 30px;
  padding-bottom: 40px;
}

.breadcrumbs {
  padding-left: 30px;
  font-size: 10px;
}

.back-btn a:focus {
  color: #867f7c;
}

.breadcrum_btn {
  text-transform: uppercase;
}

.breadcrum_btn .fa {
  font-size: 24px;
  margin-right:10px;
  vertical-align:middle;
  margin-top:-6px;
}

.search_header .search_icon input[type=text] {
  background-image:none;
  padding: 5px 0px 2px 10px;
}

.search_icon {
  position: relative;
}

.search_icon button{
  position: absolute;
  right:10px;top:3px;
  background: none;
  border: none;
}

.search_icon img {
  width: 20px;
}

.search_icon button:focus{
  outline: none;
  color: #333;
}

.back-btn {
  position: absolute;
  bottom: 6px;
}

.breadcrumbs {
  position: relative;
  bottom: 6px;
}

.nav {
  position: relative;
}

.basket_msg {
  position: relative;display: none;
}

.basket_msg span {
  background: #fff;
  color: #867f7c;
  padding-top:10px;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  min-height: 45px;
  width: 100%;
  display: inline-block;
  position: relative;
}

.basket_msg span:before {
  content:'';
  position: absolute;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 15px solid #fff;top:-15px;right:20%;
}

.basket_msg .bsk_msg_close {
  position: absolute;
  border-radius: 50%;
  top:0px;
  background: #fff;
  color:#867f7c;
  border:none;right:-12px;
  width: 30px;
  height: 30px;top:0px;
}

.visible_bskt .basket_msg {
  display: block;
}

.resort_video_list video{
  transform: scaleY(1.3);
  margin-top: 36px;
}

.resort_video_details {
  margin-top: 6%;
}

.basket_success_msg {
  position: relative;
  display: none;
}

.basket_error_msg {
  display: none;
  text-align: left;
  color: red;
  font-size: 18px;
}

.basket_success_msg span {
  background: #fff;
  color: #867f7c;
  padding-top:10px;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  min-height: 45px;
  width: 100%;
  display: inline-block;
  position: relative;
}

.basket_success_msg span:before {
  content:'';
  position: absolute;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 15px solid #fff; top:-15px; right:10%;
}

.basket_success_msg .bsk_msg_close {
  position: absolute;
  border-radius: 50%;
  top:0px;
  background: #fff;color:#867f7c;
  border:none;
  right:-12px;
  width: 30px;
  height: 30px;
  top:0px;
}

.basket_error_msg {
  display: none
}

.basket_validate_msg {
  display: none;
  float: left;
  color: red;
  font-size: 18px;
  padding-bottom: 10px;
}

body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,0.6);
    /* opacity: 0; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60px;;
}
.preloader-wrapper .preloader img {
  width: 100%;
}


.loader_msg {
  color: #FFF;
  font-size: 20px;
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
}

.resort_lands_img { width: 100%; }
.resort_portr_img { width: 60%; }

body{overflow-x: hidden;}
.c_list-unstyled{padding-left: 2%;float: none;}
ul.c_list-unstyled li{display: block;position: relative;}
ul.c_list-unstyled li:before{content: '';position: absolute;width: 6px;height: 6px;background: #867F7C;border-radius: 50%;left: -12px;top: 11px;}
.bullet_none li:before{display: none;}

#term_check{position: absolute;left: 24px;top: -15px;}

.detail_icon a {color:#fff;}
.detail_icon a{position: relative;}
.detail_icon a span{color: #867f7c;background: #dbd5cd;width: 16px;height: 16px;border-radius: 100%;position: absolute;top: -15px;right: -3px;text-align: center;font-size: 12px;}
.detail_icon .add-to-cart{margin-right:10px;}

.cover_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.banner_content_account { position: relative; }

.banner_content_account img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  object-position: top;
}
.cover_content{margin: 0px;}

.all_bsk_err_msg {
  text-align: left;
  color: red;
  font-size: 18px;
}

.all_bsk_succ_msg span {
  background: #fff;
  color: #867f7c;
  padding-top:10px;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  min-height: 45px;
  width: 100%;
  display: inline-block;
  position: relative;
}

.all_bsk_succ_msg span:before {
  content:'';
  position: absolute;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 15px solid #fff; top:-15px;
  left: 2%;
}

.all_bsk_succ_msg .bsk_msg_close {
  position: absolute;
  border-radius: 50%;
  top:0px;
  background: #fff;color:#867f7c;
  border:none;
  right:-12px;
  width: 30px;
  height: 30px;
  top:0px;
}
.session_close .bsk_msg_close{top: auto;right: 23px;font-size: 14px;}

.swal-overlay--show-modal .swal-modal {
  background-color: #867f7c;
}

.swal-text {
  color: #FFF;
  text-transform: uppercase;
}

.swal-button {
  color: #FFF;
  text-decoration: none;  
  background-color: #645c59;
}

.swal-button:hover {
  color: #645c59;
  text-decoration: none;  
  background-color: #FFF;
}

.swal-footer {
  text-align: center;
}


/* Responsive Website */

@media only screen and (max-width: 1024px) {
	/*#home_banner_img { height: 35vh; }*/
  .image_detail_search{white-space: initial;}
  p{padding: 0px;}
  .loader_msg{left:0%;top:50%;text-align: center;}
}

@media (min-width: 1024px) and (max-width: 1100px) {
  .banner_content_account {
      height: 518px;
  }
}

@media only screen and (max-width: 767px) {
    /*#home_banner_img { background-position: right; height: 30vh; }*/
    .content_images_3 .inner_image img {height: auto; object-fit: cover;}
    .breadcrumbs {
        position: relative;
    }
    .back-btn {
      position: absolute;
    }
    .search_icon button {
        margin-top: 15px;
    }

    .dropdown .btn {
        padding: 4px;
    }
    .resort_lands_img { width: 100%; }
    .resort_portr_img { width: 100%; }
}

@media only screen and (max-width: 768px) {
  .home_welcome_title h1{
      font-size: 20px;
    }
  .home_welcome_about h3 {
      font-size: 24px;
      padding-top: 0px;
  }
  .content_header_1 p{padding: 0px;}
  .content_images_search:nth-child(3n+1){clear: initial;}
}

@media only screen and (min-width:768px) and (max-width: 1024px) {
  .dropdown .btn {
      padding: 4px 78px;
  }
  .search_icon {
      margin-left: 20px;
  }
  .breadcrumbs {
    bottom: 0px;
    position: relative;
  }
  .back-btn {
    position: absolute;
    bottom: 0px;
  }
  .breadcrum_btn {
      font-size: 16px;
  }
  .breadcrum_btn .fa {
      font-size: 21px;
  }
  .content_header_1 p{padding: 0px;}
  .content_images_search{padding: 10px;}
}

@media only screen and (max-width:767px) {
  .breadcrumbs {
    padding: 0px 30px;
  }
  .back-btn {
    padding: 0px 30px;
    position: relative;
  }
}
